label,
span,
p,
input,
ul,
li,
a,
h1,
h2,
h3,
h4,
h5,
h6,
div,
select {
  font-family: arial;
}
h1 {
  font-size: 1rem;
  color: #000000;
}
li,
a {
  font-size: 0.75rem;
  color: #ffffff;
}
label {
  font-size: 0.75rem;
  color: #000000;
}
input {
  font-size: 0.75rem;
  color: #000000;
}
body {
  margin: 0;
  background: #F5F7F7;
}
header {
  height: 45px;
  margin: auto;
  margin-left: 0;
}
#generalMenu {
  margin-top: 0;
  width: 100%;
  height: 45px;
  background: #0A9577;
  position: fixed;
  z-index: 7;
}
#contMenu {
  margin-left: -2.5em;
}
/*---------MenuNav-----------*/
#contNav {
  width: 0;
  border-bottom: 3px solid orange;
  margin-top: -36px;
}
#optionNav {
  display: block;
  width: 11.25em;
  height: 44px;
}
#optionNav #btnNav {
  display: block;
  padding-top: 0.825em;
}
#btnNav {
  float: left;
  padding-top: 0;
  margin-top: -43px;
}
#btnNav img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}
/*-------------------*/
#imgImss {
  font-size: 0.875rem;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  width: 640px;
  height: 21px;
  margin: auto;
  margin-top: 14px;
}
.optionPane {
  font-size: 0.75rem;
  color: #ffffff;
  height: 40px;
  cursor: pointer;
  padding-top: 1.5em;
  padding-left: 0.5em;
  z-index: 3;
  background: #0A9577;
  font-weight: bold;
  border-bottom: 1px solid white;
  position: relative;
  left: 0;
}
.optionPaneSub {
  font-size: 12px;
  color: white;
  height: 60px;
  cursor: pointer;
  padding-top: 1.5em;
  padding-left: 0.5em;
  z-index: 3;
  background: #0A9577;
  font-weight: bold;
  border-bottom: 1px solid white;
}
.optionPane:hover,
.optionPaneSub:hover {
  background: orange;
  color: white;
}
/*---subMenu---*/
.optionPane2 {
  height: 25px;
  cursor: pointer;
  padding-top: 0.875em;
  padding-left: 0.5em;
  padding-top: 0.3125em;
  z-index: 2;
}
.aSubmain {
  font-size: 11px;
}
.optionPane2:hover {
  background: orange;
  color: white;
}
.optionPane2 img {
  width: 10px;
  height: 10px;
}
#optionCont {
  position: relative;
  padding-top: 1em;
  z-index: 3;
  background: #0A9577;
  margin-top: 0;
  height: 60px;
}
.subMain {
  position: absolute;
  width: 100%;
  background: #12A76E;
}
/*-------------------*/
#desNav {
  width: 11.25em;
  height: 100%;
  position: fixed;
  background: #0A9577;
  top: 10px;
  z-index: 5;
  margin-left: -100%;
}
#aDesnav1,
#aDesnav2,
#aDesnav3,
#aDesnav4,
#aDesnav5 {
  color: white;
  text-decoration: none;
}
#aDesnav1:hover,
#aDesnav2:hover,
#aDesnav3:hover,
#aDesnav4:hover,
#aDesnav5:hover {
  text-decoration: underline;
}
.imgDesnav {
  width: 1.3em;
  height: 1.3em;
}
.imgDesnav img {
  width: 1.8em;
  height: 1.3em;
  padding-right: 0.625em;
}
.DownTriang {
  margin-left: 5px;
}
.optionPane label {
  position: relative;
  top: -0.1em;
  color: white;
  cursor: pointer;
}
/*--------------------*/
.Body {
  margin: auto;
  margin-left: 0;
  margin-top: -1rem;
  z-index: 4;
}
#imgSession {
  width: 2.5%;
  height: 80%;
  float: right;
  margin-right: 10px;
  margin-top: -29px;
}
#imgSession img {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#contSession {
  font-size: 1rem;
  color: #000000;
  text-align: center;
  font-weight: bold;
  position: fixed;
  width: 10.625em;
  height: 50px;
  right: 0;
  background: white;
  z-index: 3;
}
#contSession2 {
  position: relative;
}
#sessionCu {
  position: relative;
  top: 1em;
}
#cerrarSession {
  position: relative;
  width: 100%;
  height: 20px;
  background: #14C09B;
  top: 28px;
  cursor: pointer;
  float: right;
  font-size: 0.875rem;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}
#cerrarSession:hover {
  background: orange;
  color: white;
}
#contPTitle {
  width: 980px;
  height: 90px;
  background: #FFFFF;
  margin: auto;
}
#contPTitle h1 {
  width: 980px;
  position: absolute;
  font-size: 1rem;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding-top: 2.5125em;
}
/*Modicicar titulo para el modulo de Contratos*/
#contPTitle3 {
  width: 980px;
  height: 90px;
  background: #FFFFF;
  margin: auto;
}
#contPTitle3 h1 {
  width: 980px;
  position: absolute;
  font-size: 1rem;
  color: #000000;
  font-weight: bold;
  text-align: center;
  padding-top: 2.5125em;
}
#loading {
  position: relative;
  width: 120px;
  height: 80px;
  margin: auto;
  top: 13.75em;
}
.footer {
  width: 100%;
  height: 40px;
  bottom: 0px;
  position: fixed;
  background: #223C31;
  z-index: 3;
}
#footerInfo {
  width: 100%;
  height: 20px;
  margin-top: 10px;
  font-size: 0.625rem;
  color: #ffffff;
  text-align: center;
}
#footLink1,
#footLink2,
.link {
  text-decoration: none;
  color: #2A6496;
}
#footLink1:hover,
#footlink2:hover,
.link:hover {
  text-decoration: underline;
}
/*Media queries para los tamaños de pantallas*/
@media (max-width: 1024px) {
  #generalMenu {
    width: 1024px;
    height: 45px;
  }
  .footer {
    width: 1024px;
    height: 40px;
  }
  #footerInfo {
    width: 1024px;
    height: 20px;
  }
}
@media (max-width: 800px) and (min-width: 0px) {
  #generalMenu {
    width: 800px;
    height: 45px;
  }
  .footer {
    width: 800px;
    height: 40px;
  }
  #footerInfo {
    width: 800px;
    height: 20px;
  }
}
/*Terminan los media queries*/
