@charset "utf-8";
/* CSS Document */

#contFrame{
	position:relative;
	width:90%;
	height:160%;
	padding-left:10%;
	}
#iframepdfTram{
	position:relative;
	width:90%;
	height:90%;
	box-shadow: 1px 1px 3px gray;
	}
.buttons{
	position:relative;
	top:-76px;
	padding-left:33%;
	}
.btn{
	box-shadow: 1px 1px 3px gray;
     background:#28B783;
	 border: 0px solid gray;
	 height: 40px;
	 border-radius: 3px;
	 color: white;
	 width: 100px;
	 font-size: 14px;
	 box-shadow: 1px 1px 1px #9E9F9F;
	 margin-left:10%;
	}
.btn:focus{
	background: orange;
	}