*{
	margin: 0 auto;
	padding:0;

	}
#main{
	/*border: 2px solid #CCC;*/
	width: 700px;
	height:300px;
	color: #E8E4E4;
	box-shadow: 1px 1px 3px gray;
	position: relative;
	top:-65px;
	}
img{
	position: relative;
    left: 550px;
    top: 15px;
    transform: translate(-8%, -8%);
	}
#titulo{
	position:relative;
	top: -85px;
	padding-top: 130px;
	font-size: 38px;;  
	color: #0A9577;
	text-decoration: underline overline;
	text-align: center;
	}
#texto{
	font-size: 14px; 
	color: #000;
	text-align: center;
	}
#butt{
	color: #000;
	font-style: Times New Roman ;
	font-size: 15px;
	}
#ingreso{
	position: relative;
	top: 30px;
	font-size: 18px;
	font-style: Times New Roman;
	margin: auto;
	width: 300px;
}
#ingreso h1{
	text-align: center;
	color:gray;
}
#user{
	width: 300px;
	height: 40px;

}
#pass{
	width: 300px;
	height: 40px;
}
#butt{

width: 110px;
height: 35px;
border: 0.5px solid #0A9577;
background:#0A9577;
color:white;

}
#respuesta{
	position: relative;
	top:80px;
	color: red;
}
#respuesta img{
	margin-left: -300px;
}
/*-----------fin---estilo---de---login------------*/
/*-----------Inicio--de---formulario--------------*/
#sMain{
	width: 800px;
	height: 1070px;
	border: 1px solid #000;
}