/*Opciones del panel izquierdo deslizante*/
.optionPane {
  position: relative;
  left: 0;
}

/*Contenido General de toda la informacion relevante*/
.contForm {
  height: 500px;
}
/*Formulario de registro*/
.contForm form {
  width: 950px;
  top: 40px;
  position: relative;
  margin: auto;
  padding-left: 45px;
}
/*Contenido del formulario usado como fondo visual */
.tit {
  width: 94%;
  margin-left: 5px;
}
#altaEst{
	margin-left: 5px;
	margin-top:10px;
}
#modEst{
	margin-left: 5px;
}
.ahref{
  color:blue;
  margin-left: 5px;
  font-family: arial;
  font-size: 12px;
  text-decoration: none;
}
#ContForr {
  background: white;
  width: 1000px;
  height: 430px;
  margin: auto;
  padding: 0.0625em;
  position: relative;
  top: 5px;
  -moz-box-shadow: 1px 1px 5px #dcdcdc;
  -webkit-box-shadow: 1px 1px 5px #dcdcdc;
  -o-box-shadow: 1px 1px 5px #dcdcdc;
  -ms-box-shadow: 1px 1px 5px #dcdcdc;
  box-shadow: 1px 1px 5px #dcdcdc;
}
/*Campos del formulario*/
.contForm input,
select,
textarea {
  font-family: arial;
  font-size: 12px;
}
.contForm input[type="text"] {
  width: 23.800em;
  height: 32px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.contForm select {
  width: 24.300em;
  height: 32px;
  margin-left: 5px;
  margin-bottom: 10px;
}

/*Subtitulo del documento*/
.contTitul {
  width: 1000px;
  height: 25px;
  position: relative;
  background: #04A86F;
  -moz-box-shadow: 1px 1px 5px #808080;
  -webkit-box-shadow: 1px 1px 5px #808080;
  -o-box-shadow: 1px 1px 5px #808080;
  -ms-box-shadow: 1px 1px 5px #808080;
  box-shadow: 1px 1px 5px #808080;
  opacity: 0.8;
}
.contTitul div {
  width: 300px;
  height: 22px;
  font-size: 14px;
  margin-left: 1px;
  padding-top: 3px;
  color: white;
  text-align: center;
  margin: auto;
}

/*linea divisora para la seccion de los servicios*/
.line {
  display: inline-block;
  width: 892px;
  height: 5px;
  background: #017744;
  border-radius: 3px;
  opacity: 0.8;
  margin-bottom: 7px;
  margin-left: 5px;
}

.btns {
  background: #04A86F;
  height: 32px;
  width: 120px;
  border: 0px solid gray;
  font-size: 0.75rem;
  color: #ffffff;
}

.btns:focus {
  background: orange;
}
