/*Titulos*/
.subTit {
  width: 94%;
  margin-left: 5px;
}
/*Opciones del panel izquierdo deslizante*/
.optionPane {
  position: relative;
  left: 0;
}
/*Elementos para pruebas*/
/*Contenido General de toda la informacion relevante*/
.contForm,
#ContFor {
  height: 350px;
}
.contForm2,
#ContFor2 {
  height: 510px;
}
/*terminan los elementos para pruebas*/
/*Formulario de registro*/
.contForm form {
  width: 950px;
  top: 40px;
  position: relative;
  margin: auto;
  padding-left: 45px;
}
/*Contenido del formulario usado como fondo visual */
#ContFor,
#ContFor2 {
  background: white;
  width: 1000px;
  margin: auto;
  padding: 0.0625em;
  position: relative;
  top: 5px;
  -moz-box-shadow: 1px 1px 5px #dcdcdc;
  -webkit-box-shadow: 1px 1px 5px #dcdcdc;
  -o-box-shadow: 1px 1px 5px #dcdcdc;
  -ms-box-shadow: 1px 1px 5px #dcdcdc;
  box-shadow: 1px 1px 5px #dcdcdc;
}
/*Campos del formulario*/
.contForm input,
select,
textarea {
  font-family: arial;
  font-size: 12px;
}
.contForm input[type="text"] {
  width: 36.300em;
  height: 27px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.contForm select {
  width: 36.600em;
  height: 32px;
  margin-left: 5px;
  margin-bottom: 10px;
}
.contForm textarea {
  width: 73.960em;
  height: 100px;
  margin-left: 5px;
  margin-bottom: 10px;
  resize: none;
}
/*Subtitulo del documento*/
.contTitul {
  width: 1000px;
  height: 25px;
  position: relative;
  background: #04A86F;
  -moz-box-shadow: 1px 1px 5px #808080;
  -webkit-box-shadow: 1px 1px 5px #808080;
  -o-box-shadow: 1px 1px 5px #808080;
  -ms-box-shadow: 1px 1px 5px #808080;
  box-shadow: 1px 1px 5px #808080;
  opacity: 0.8;
}
.contTitul div {
  width: 300px;
  height: 22px;
  font-size: 14px;
  margin-left: 1px;
  padding-top: 3px;
  color: white;
  text-align: center;
  margin: auto;
}
/*linea divisora para la seccion de los servicios*/
.line {
  display: inline-block;
  width: 892px;
  height: 5px;
  background: #017744;
  border-radius: 3px;
  opacity: 0.8;
  margin-bottom: 7px;
  margin-left: 5px;
}
.contBtns {
  margin-left: 342px;
  margin-top: 40px;
}
.btns {
  background: #04A86F;
  width: 9em;
  height: 30px;
  border: 0px solid gray;
  font-size: 0.75rem;
  color: #ffffff;
}
.btns:focus {
  background: orange;
}
